importFrom(utils, stack)
importFrom(stats, aggregate)
importFrom(graphics, boxplot, image)

export(as.mefa,
    as.stcs,
    cdrop,
    fill.na,
    is.dist,
    is.mefa,
    is.stcs,
    label,
    "label<-",
    mat2list,
    mefa,
    mefaCheck,
    mefaCompare,
    mefaCrosstab,
    mefadocs,
    mefalogo,
    mefaNestedless,
    mefaTables,
    mefaweb,
    melt,
    mfill,
    msr,
    mss,
    mtr,
    mts,
    qvector,
    rdrop,
    report,
    stcs,
    vec2dist,
    xtab,
    samp,
    taxa,
    segm,
    aoplot,
    as.Xtab,
    as.Mefa)

#importMethodsFrom(mefa4, xtab, samp, taxa)

S3method("[", mefa)
S3method(aggregate, mefa)
S3method(as.array, mefa)
S3method(as.data.frame, mefa)
S3method(as.data.frame, stcs)
S3method(as.list, mefa)
S3method(as.matrix, mefa)
S3method(as.mefa, array)
S3method(as.mefa, default)
S3method(as.mefa, list)
S3method(as.stcs, default)
S3method(boxplot, mefa)
S3method(boxplot, stcs)
S3method(dim, mefa)
S3method(dimnames, mefa)
S3method(image, mefa)
S3method(image, stcs)
S3method(melt, mefa)
S3method(plot, mefa)
S3method(plot, stcs)
S3method(print, mefa)
S3method(print, summary.mefa)
S3method(rep, data.frame)
S3method(report, mefa)
S3method(summary, mefa)
S3method(summary, stcs)
S3method(stack, dist)
S3method(xtab, default)
S3method(samp, default)
S3method(taxa, default)
S3method(segm, default)
S3method(aoplot, default)
S3method(image, dist)

S3method(as.mefa, sparseMatrix)
S3method(as.stcs, sparseMatrix)
S3method(melt, sparseMatrix)
S3method(as.mefa, Mefa)
S3method(as.stcs, Mefa)
S3method(melt, Mefa)
S3method(as.Xtab, mefa)
S3method(as.Xtab, stcs)
S3method(as.Mefa, mefa)
S3method(as.Mefa, stcs)
