export(Xtab, Mefa)
exportClasses(Mefa, stcs, mefa, MefaMatrix, MefaDataFrame)
exportMethods(xtab, samp, taxa, dim, dimnames, "dimnames<-",
    "xtab<-", "samp<-", "taxa<-", "[",
    groupSums, groupMeans,
    show)
importFrom(Matrix)
importClassesFrom(Matrix, dgCMatrix, CsparseMatrix,
    dsparseMatrix, generalMatrix, dMatrix,
    sparseMatrix, compMatrix, Matrix)
importMethodsFrom(Matrix, colSums, rowSums, 
    colMeans, rowMeans, t,
    dim, dimnames, "dimnames<-")
